.countries {
  display: flex;
}

.countries--first {
  flex-direction: row;
}

.countries--first .country--ethiopia {
  align-self: flex-end;
}

.countries--second {
  flex-direction: row;
  align-items: center;
}

.countries--second .country--ethiopia {
  align-self: flex-end;
}

.countries--third {
  flex-direction: row;
}
.countries--third .country--brazil {
  align-self: flex-start;
}
.countries--third .country--croatia {
  align-self: flex-end;
}
.countries--third .country--ethiopia {
  align-self: flex-end;
}
.countries--third .country--laos {
  align-self: flex-end;
}
.countries--third .country--uganda {
  align-self: flex-start;
}

.countries--fourth {
  flex-direction: column;
  align-items: flex-start;
}
.countries--fourth .country--brazil {
  align-self: baseline;
}
.countries--fourth .country--croatia {
  align-self: flex-start;
}
.countries--fourth .country--ethiopia {
  align-self: flex-start;
}
.countries--fourth .country--laos {
  align-self: flex-start;
}
.countries--fourth .country--uganda {
  align-self: center;
}
