.countries {
  display: flex;
}
.countries--first {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.countries--first .country--brazil {
  order: 1;
}
.countries--first .country--croatia {
  order: 2;
}
.countries--first .country--ethiopia {
  order: 3;
}
.countries--first .country--laos {
  order: 4;
}
.countries--first .country--uganda {
  order: 5;
}
.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
}
.countries--third {
  flex-direction: row;
  align-items: flex-start;
}

.countries--third .country--brazil {
  align-self: flex-end;
}
.countries--fourth {
  display: flex;
  flex-direction: column;
}
.countries--fourth .country--brazil {
  align-self: flex-end;
}
.countries--fourth .country--croatia {
  align-self: flex-end;
}
.countries--fourth .country--ethiopia {
  align-self: center;
}
.countries--fourth .country--laos {
  align-self: center;
}
.countries--fourth .country--uganda {
  align-self: flex-end;
}

.countries--fifth {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.countries--fifth .country--brazil {
  align-self: flex-end;
  jorder: 5;
}
.countries--fifth .country--croatia {
  align-self: flex-end;

  order: 4;
}
.countries--fifth .country--ethiopia {
  align-self: flex-end;
  order: 3;
}
.countries--fifth .country--laos {
  align-self: flex-end;
  order: 1;
}
.countries--fifth .country--uganda {
  align-self: center;
  order: 2;
}
