.countries {
  display: flex;
}
.countries--first {
  flex-direction: row-reverse;
  align-items: flex-end;
}

.countries--first .country--brazil {
  order: 1;
}
.countries--first .country--croatia {
  order: 2;
}
.countries--first .country--ethiopia {
  order: 3;
}
.countries--first .country--laos {
  order: 4;
}
.countries--first .country--uganda {
  order: 5;
}
.countries--second {
  flex-direction: row-reverse;
  align-items: flex-end;
}
.countries--third {
  flex-direction: row;
  align-items: flex-start;
}

.countries--third .country--brazil {
  align-self: flex-end;
}
.countries--fourth {
  flex-direction: column;
  align-items: flex-start;
}
.countries--fourth .country--brazil {
  align-self: baseline;
}
.countries--fourth .country--croatia {
  align-self: flex-start;
}
.countries--fourth .country--ethiopia {
  align-self: flex-start;
}
.countries--fourth .country--laos {
  align-self: flex-start;
}
.countries--fourth .country--uganda {
  align-self: center;
}
