@media (min-width: 480px) {
  nav {
    display: flex;
  }
}

@media (min-width: 700px) {
  header {
    display: flex;
  }
}
@media (min-width: 992px) {
  header nav {
    display: flex;
    align-items: center;
  }
  header .site-header__checkout {
    display: flex;
    align-self: flex-end;
  }
}

/* Write your media queries and flexbox CSS below */
