/* Add your own CSS code below */
footer span {
  color: #c85308;
}
@media (min-width: 992px) {
  .hero__title {
    font-size: 80px;
  }
}

.main-nav__list {
  display: flex;

  flex-direction: row;
  gap: 10rem;
  justify-content: center;
}

@media (min-width: 767px) {
  header {
    display: flex;
  }
  .main-nav__list {
    gap: 5 rem;
  }
}
article p {
  max-width: 50em;
  line-height: 30px;
  display: flex;
}
